.pokecard {
    background-color: white;
    position: relative;
    width: 250px;
    border: 5px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s,
                box-shadow .5s;
}
.pokecard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px black;
    transition: transform .5s,
                box-shadow .5s;
}

.pokecard__back {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
}
.pokecard__img {
    width: 70%;
    z-index: 10;
}
.pokecard__types {
    display: flex;
}
.slot2::before {
    content: '/';
    margin: 0 5px;
}
.pokecard hr {
    width: 90%;
    margin: 10px 0;
}
.pokecard__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.pokecard__stats li {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*------Colors------*/
.grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%) !important;
}
.fire {
    background: linear-gradient(178.92deg, #d10505 0.92%, #ff4e4e 47.96%, #ff8383 99.08%) !important;
}
.water {
    background: linear-gradient(178.92deg, #068dfc 0.92%, #63acff 47.96%, #aadcfd 99.08%) !important;
}
.bug {
    background-color: lightgreen;
}
.normal {
    background-color: sienna;
}
.poison {
    background-color: violet;
}
.electric {
    background-color: yellow;
}
.ground {
    background: linear-gradient(178.92deg, #b16809 0.92%, #d39436 47.96%, #e9c372 99.08%) !important;
}
.fairy {
    background-color: fuchsia;
}
.fighting {
    background-color: orange;
}
.psychic {
    background-color: purple;
}
.rock {
    background-color: darkslategrey;
}
.ghost {
    background-color: darkslateblue;
}
.ice {
    background-color: aqua;
}
.dragon {
    background-color: darkblue;
}

